@model SistemaFlavorsThatInspire.Models.Pedido

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.NomeUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoPedido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PedidoId" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
