@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="/css/home.css" />
<div class="text-center">
    <h1 class="display-4">SEJA BEM-VINDO(a)</h1>
    <p>AO SISTEMA FLAVORS THAT INSPIRE!</p>
</div>
